*{
    padding: 0;
    margin: 0;
}
.menu{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(92, 87, 87,0.5);


}
ul{
    padding: 20px;
    padding-right: 60px;
}
ul li{
    list-style: none;
    display: inline;
    padding:20px ;
}
ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}
.menu ul li:hover {
    background-color:orange;
  }
body{
    background-repeat: no-repeat;  
    background-size: cover;  
    background: url(https://www.wallpapertip.com/wmimgs/188-1883680_relaxing-desktop-background-evening.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.register h2, .map h2{
    color: white;
    padding-left: 50%;
    margin-bottom: 10px;
}
form{
    width: 95%;
    padding-left: 20px;    
}
.map{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
input[type=text],input[type=email]{
    width: 100%;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 2px solit;
    border-radius: 5px;
}
input[type=reset]{
    width: 49.6%;
    height: 30px;
    text-transform: uppercase;
    background-color: tomato;
    border-radius: 10px;
    color: white;
}
input[type=submit]{
    width: 49.6%;
    height: 30px;
    text-transform: uppercase;
    background-color: teal;
    border-radius: 10px;
    color: white;
}
textarea{
    border-radius: 10px;
    margin-bottom: 20px;
}
.reandmap{
    display: flex;
    align-items: space-around;
}
.footer{
    display: flex;
    justify-content: center;
}
.footer ul li{
    padding-right: 20px;
    padding-left: 20px;

}
.donwlond{
    margin-left: 27%;
}
.donwlond img {
    margin-top: 3%;
}
.donwlond h3{
    margin-top: 10px;
    margin-left: 18%;

    width: 23%;
    border: 2px rgb(12, 166, 213);
    border-radius: 5px;
    background-color: rgb(0, 81, 255);
    color: white;
}
.name{
padding: 20px;
    color: white;
 
}
h4{
    font-size: 70px;
}
h1{
    font-size: 100px;
}
.personal .name h2{
    margin-left: 37%;
    margin-top: 50px;
    margin-bottom: 130px;
    font-size: 50px;
}
@media screen and (max-width:800px){
    
    .reandmap{
        display: block;
    }
    input[type=reset],input[type=submit]{
        width: 100%;
    }
}